.categoriesCards img{
    width: 58px;
    height: 55px;
}
.cateoriesContainer{
    display: flex;
    overflow-x: scroll;
}
::-webkit-scrollbar{
    display: none;
}
@media screen and (min-width:425px){
    .categoriesCards img{
        width: 77px;
        height: 73px;
    }
}

@media screen and (min-width: 425px) {
    .categoriesCards img{
        width: 140px;
        height: 133px;
    }
}

@media screen and (min-width: 1024px) {
   .cateoriesContainer{
    display: none;
   }
}