.dealsContainer{
    display: flex;
}
.dealsContainer span img{
    width: 106px;
    height: 113px;
}
.dealsContainer span{
    padding: 0;
}

@media screen and (min-width: 425px) {
    .dealsContainer span img{
        width:141px;
        height: 151px;
    }
}


@media screen and (min-width: 768px) {
    .dealsContainer span img{
        width:256px;
        height: 273px;
    }
}

@media screen and (min-width: 1024px){
    .dealsContainer{
        display: none;
    }
}