.dealsContainer{
    display: flex;
}
.dealsContainer span img{
    width: 100%;
    height: 100%;
}
.dealsContainer span{
    padding: 0;
}

@media screen and (min-width: 768px){
 .dealsContainer{
    justify-content: space-between;
 }
  
}

@media screen and (min-width: 1024px){
    .dealsContainer{
        display: none;
    }
}