.flpikartHeader {
  background-color: rgba(40, 116, 240, 1);
  padding-block-end: 12px;
}
.flipkartSubHead {
  display: flex;
  justify-content: space-between;
  padding: 12px 6px;
  color: #fff;
}
.flipkartSubHead .exploreHead {
  width: 85px;
  height: 30px;
}
.searchProductsHead {
  display: flex;
  align-items: center;
  padding: 0 12px;
}
.searchContainer {
  background-color: #fff;
  width: 29px;
  height: 31px;
  z-index: 1;
}
.exploreMainHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.exploreWishlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-PlaceHolder input {
  padding: 7px;
  width: 242px;
  white-space: nowrap;
  margin-left: -1px;
}
.searchContainer img {
  height: 16px;
  margin-top: 8px;
}
.exploreMainHead img {
  padding: 0 6px;
}
.exploreWishlist img {
  padding: 0 6px;
}

@media screen and (min-width: 425px) {
  .exploreWishlist img {
    padding: 0 12px;
  }
  .flipkartSubHead{
    padding: 12px 15px;
  }
  .search-PlaceHolder{
    width: 90%;
  }
  .search-PlaceHolder input{
    width: 100%;
  }

}
@media screen and (min-width: 425px) {
  .search-PlaceHolder{
    width: 95%;
  }

}


@media screen and (min-width: 1024px) {
  .flpikartHeader{
    display: none;
  }
}