.PhonesSection{
    display: flex;
    margin-top: 9px;
}
.phoneCards img{
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .PhonesSection{
        justify-content: space-between;
    }
}
@media screen  and (min-width: 1024px){
    .PhonesSection{
        display: none;
    }
}