.spotlightCardsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 12px;
    background: #fff;
}
.spotlightCards img{
    width: 120px;
    height: 120px;
}
.spotlightCards{
    padding: 16px 16px 12px;
}
.spotlightSubContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}
.spotlightSubContainer a{
    text-decoration: none;
    color: #fff;
    background-color: #0084ff;
    padding: 6px;
    border-radius: 5px;
}
.spotlightCards:nth-of-type(1){
    border-right: 1px solid rgba(240,240,240,1.00);
    border-bottom: 1px solid rgba(240,240,240,1.00);
}
.spotlightCards:nth-of-type(2){
    border-bottom: 1px solid rgba(240,240,240,1.00);
}
.spotlightCards:nth-of-type(3){
    border-right: 1px solid rgba(240,240,240,1.00);
}
.spotlightCards h4{
    font-size: 12px;
    font-weight: 200;
    margin: 0;
    padding-top: 8px;
}
.spotlightCards p{
    color: #388e3c;
    margin: 0;
}
.spotlightContainer{
    background: linear-gradient(rgb(251, 231, 195), rgb(251, 231, 195));
}

@media screen and (min-width: 425px) {
    .spotlightCards img{
        width: 120px;
        height: 120px;
    } 
}