.desktopMobilesSection{
    display: none;
}

@media screen and (min-width: 1024px) { 
    .desktopMobilesSection{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 9px;
    }
    .mobileSubSection img{
        width: 327px;
        height: 175px;
    }
}